# SMTP Creds
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# DB Creds
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=yantra

# OTP Creds
OTP_SECRET_KEY=

#JWT
JWT_SECRET_KEY=

# Model location
MODEL_PATH=